body {
    margin: 0;
    background: #0f0f11;
    color: white;
    font-family: Arial, sans-serif;
}


.chat-app {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 310px;
    background: #0e0f12;
    border-right: 1px solid #1c1d20;
}

.convs-iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.chat-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #111215;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background: #121416;
    border-bottom: 1px solid #1c1d20;
}

.avatar-lg {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 12px;
}

.head-name {
    font-size: 18px;
    font-weight: bold;
}

.typing {
    font-size: 13px;
    color: #8a8a8a;
}

/* ------------ MENSAJES ------------ */

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    max-width: 65%;
    padding: 12px 16px;
    border-radius: 16px;
    margin-bottom: 12px;
    word-wrap: break-word;
    font-size: 15px;
}

/* Mensajes del otro */
.message.other {
    background: #2A2D31;
    align-self: flex-start;
    border-top-left-radius: 4px;
}

/* Mis mensajes */
.message.me {
    background: #1A73E8;
    align-self: flex-end;
    border-top-right-radius: 4px;
}

/* Nombre + hora */
.msg-info {
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 4px;
    display: block;
}

/* Audio */
audio {
    width: 100%;
    margin-top: 6px;
}

/* Imagen enviada */
.msg-img {
    width: 230px;
    max-height: 260px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-top: 6px;
}

/* ------------ COMPOSER (Caja de escribir) ------------ */

.composer {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #121416;
    border-top: 1px solid #1c1d20;
}

.composer textarea {
    flex: 1;
    padding: 10px;
    background: #0f0f11;
    border: 1px solid #1f1f1f;
    border-radius: 12px;
    color: white;
    resize: none;
    height: 42px;
}

.composer button {
    background: #1f1f20;
    border: none;
    color: white;
    margin-left: 8px;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.composer button:hover {
    background: #2a2a2c;
}

.messages::-webkit-scrollbar {
    width: 6px;
}
.messages::-webkit-scrollbar-thumb {
    background: #2a2d31;
    border-radius: 10px;
}


.message audio {
    width: 220px;
    height: 36px;
    border-radius: 20px;
    display: block;
    margin-top: 6px;
}

.message.me audio {
    background: #0a84ff;
}

.message.other audio {
    background: #2e2f33;
}


.message audio::-webkit-media-controls-panel {
    background-color: transparent !important;
}


.message audio::-webkit-media-controls-play-button {
    transform: scale(0.7);
}


.message audio::-webkit-media-controls-enclosure {
    border-radius: 20px;
}
