* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

svg{
    width: 100%;
    height: 100%;
    font-family: Raleway, sans-serif; 
}

svg text#brand-text {
    text-transform: uppercase;
    font-size: 5rem;
    animation: stroke 5s infinite alternate;
    stroke-width: 0; 
    fill: none; 
}

svg text#welcome-text {
    font-size: 2.5rem; 
    fill: #cccccc; 
    text-transform: none; 
}


@keyframes stroke {
    0% {
        stroke: white;
        stroke-width: 0;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        fill: rgba(255, 255, 255, 0); 
    }
    70% {
        stroke: white;
        fill: rgba(255, 255, 255, 0); 
    }
    80% {
        stroke: white;
        stroke-width: 3;
        fill: rgba(255, 255, 255, 0); 
    }
    100% {
        stroke: white;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray:50% 0;
        fill: rgba(255, 255, 255, 1); 
    }
}